$main-color: #4f9adf;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

// Breakpoint

// Mobile
$breakpoint-m: 576px;

$breakpoint-t: 992px;

$breakpoint-pc: 1200px;
