@use "../utils/variables";
@import "../utils/mixins";

// Home
.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15rem 0px 2rem;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;

  @include toTablet {
    font-size: 2.8rem;
  }

  @include toMobile {
    font-size: 2.4rem;
  }
}

.home__avatar__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
}

.home__avatar__bg {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: #c3d8eb;

  @include toTablet {
    width: 420px;
    height: 420px;
  }

  @include toMobile {
    width: 380px;
    height: 380px;
  }
}

.home__avatar {
  width: 70%;
  margin-top: 2rem;
  object-fit: cover;

  @include toTablet {
    width: 65%;
    margin-top: 5rem;
  }
}

.home__text--strong {
  color: variables.$main-color;
}

// About me

.main {
  padding: 5rem 0px 6rem;
}

.about {
  height: 100vh;
  padding: 10rem 0px;

  @include toMobile {
    height: 100%;
  }
}

.section-title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2;
}

.about-intro {
  margin: 5rem 0;
}

.about-intro-box {
  display: flex;
  margin: 2rem 0px;

  h6 {
    width: 20%;
    font-weight: 600;
    font-size: 2rem;
    color: variables.$main-color;
  }
}

@include toMobile {
  .about-intro-box {
    margin: 1rem 0px;
    gap: 30px;
  }
}

.intro-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.intro-item-title {
  font-weight: 600;
  font-size: 1.6rem;
  color: variables.$main-color;
}

.intro-item-desc {
  font-size: 1.4rem;
  color: #353535;
}

.skills-wrap {
  display: grid;
  grid-template-columns: repeat(3, minmax(380px, 1fr));
  grid-template-rows: repeat(2, minmax(250px, 1fr));
  gap: 10px;
  min-height: 600px;

  @include toTablet {
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-template-rows: repeat(2, minmax(260px, 1fr));
    justify-content: center;
  }
  @include toMobile {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(3, minmax(260px, 1fr));
    min-height: 100vh;
    gap: 20px;
  }
}

.skills-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s all ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  &:hover .skills-textbox {
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
  }

  &:hover .skills-icon {
    background: variables.$main-color;
    box-shadow: 0px 0px 12px 5px rgba(79, 154, 223, 0.25);
  }
}

.skills-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: #909090;
  z-index: 10;

  span {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2;
    color: #fff;
  }
}

@include toTablet {
  .skills-icon {
    width: 50px;
    height: 50px;

    span {
      font-size: 3rem;
    }
  }
}

.skills-textbox {
  position: absolute;
  top: 30px;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  border-radius: 5px;
  width: 380px;
  height: 250px;
  padding: 40px 20px 20px 20px;

  @include toTablet {
    top: 25px;
    width: 280px;
    height: 260px;
    padding: 40px 10px 0px;
  }

  @include toMobile {
    width: 260px;
    height: 260px;
    padding: 40px 10px 0px;
  }

  .skills-subtitle {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2;
    text-align: center;

    @include toMobile {
      font-weight: 500;
      font-size: 2.2rem;
      text-align: center;
    }
  }

  .skills-desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.33;

    @include toTablet {
      font-weight: 400;
      font-size: 1.6rem;
    }

    @include toMobile {
      margin-top: 10px;
      font-weight: 400;
    }
  }
}

// portfolio
.portfolio {
  height: 100vh;
  padding: 200px 0px 50px;

  @include toTablet {
    padding: 100px 0px;
  }
}

.pfSwiper {
  margin-top: 50px;
  padding: 0 10px;
}

.swiper-slide {
  position: relative;
  display: flex;
  gap: 50px;
  width: 100%;

  @include toTablet {
    flex-direction: column;
  }
}

.pf-thumb {
  width: 650px;
  height: 400px;
  margin-left: 20px;

  img {
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
  }

  @include toTablet {
    width: 100%;
    margin-left: 0;
  }
}

.pf-text {
  display: flex;
  flex-direction: column;
  width: 350px;

  @include toTablet {
    gap: 15px;
    width: 100%;
    letter-spacing: -1px;
  }
}

.pf-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.17;
  color: variables.$main-color;
}

.pf-desc {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.375;
}

.pf-keywords-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.pf-keywords-item {
  @extend .btn;
  width: auto;
  height: 30px;
  padding: 6px;

  border: 1px solid rgba(79, 154, 223, 0.33);

  font-size: 1.2rem;
  line-height: 1.83;

  color: variables.$main-color;
}

.pf-link-buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;

  @include toTablet {
    position: relative;
    justify-content: center;
    width: 100%;
  }
}

.pf-link {
  @extend .btn;
  width: 120px;
  height: 40px;
  background: variables.$main-color;

  a {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.375;
    color: #fff;
  }

  @include toTablet {
    width: 45%;
  }
}

.contact {
  margin-top: 50px;
  padding: 50px 0px 100px;
  color: #f0f0f0;
  background: variables.$main-color;

  .greeting-box {
    margin-top: 40px;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
  }

  .greeting {
    line-height: 2;
  }
}
