@use "../utils/variables";

// home
.home {
  margin-top: 15rem;
  font-size: 5rem;
  text-align: center;

  h2 {
    font-weight: 600;
  }
}

.greeting {
  font-weight: 600;
  font-size: 3rem;

  span {
    font-weight: 400;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.profile-bg {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: #c3d8eb;

  img {
    margin-top: 20px;
    width: 70%;
    object-fit: cover;
  }
}

.profile-text {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.17;
}

// about me

.main {
  margin-top: 100px;
}

.section-title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2;
}

.about-intro {
  margin: 50px 0;
}

.about-intro-box {
  display: flex;
  margin: 20px 0px;

  h6 {
    width: 20%;
    font-weight: 600;
    font-size: 2rem;
    color: variables.$main-color;
  }
}

.intro-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.intro-item-title {
  font-weight: 600;
  font-size: 1.6rem;
  color: variables.$main-color;
}

.intro-item-desc {
  font-size: 1.4rem;
  color: #353535;
}

.skills-wrap {
  display: grid;
  grid-template-columns: 380px 380px 380px;
  grid-template-rows: 300px 300px;
  gap: 10px;
  margin-top: 50px;
}

.skills-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s all ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  &:hover .skills-textbox {
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
  }

  &:hover .skills-icon {
    background: variables.$main-color;
    box-shadow: 0px 0px 12px 5px rgba(79, 154, 223, 0.25);
  }
}

.skills-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: #909090;
  z-index: 10;

  span {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2;
    color: #fff;
  }
}

.skills-textbox {
  position: absolute;
  top: 30px;
  width: 380px;
  height: 250px;
  padding: 50px 20px 20px 20px;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  border-radius: 5px;

  .skills-subtitle {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2;
    text-align: center;
  }

  .skills-desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.33;
  }
}

// portfolio
.portfolio {
  margin-top: 50px;
}

.pfSwiper {
  margin-top: 50px;
  padding: 0 10px;
}

.swiper-slide {
  display: flex;
  gap: 50px;
  width: 100%;
}

.pf-thumb {
  width: 650px;
  height: 400px;
  margin-left: 20px;
  border-radius: 10px;
  background: #9c9c9c;
}

.pf-text {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.pf-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.17;
  color: variables.$main-color;
}

.pf-desc {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.375;
}

.pf-keywords-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pf-keywords-item {
  @extend .btn;
  width: auto;
  height: 30px;
  padding: 6px;

  border: 1px solid rgba(79, 154, 223, 0.33);

  font-size: 1.2rem;
  line-height: 1.83;

  color: variables.$main-color;
}

.pf-link-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 70px;
}

.pf-link {
  @extend .btn;
  width: 120px;
  height: 40px;
  background: variables.$main-color;

  a {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.375;
    color: #fff;
  }
}

.contact {
  height: 300px;
  margin-top: 50px;

  .greeting {
    margin: 100px 0;
    text-align: center;
  }
}
