@use "../utils/variables";
@import "../utils/mixins";

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  z-index: 1030;
}

.header__menu {
  display: flex;
  gap: 10px;
  font-size: 1.8rem;
  text-transform: uppercase;

  &__item {
    padding: 8px 16px;
  }

  &__item:hover {
    color: variables.$main-color;
    border-bottom: 1px solid variables.$main-color;
  }

  @include toTablet {
    display: none;
  }
}

.header__logo--pc {
  max-width: 300px;
  display: block;
  @include toTablet {
    display: none;
  }
}

.header__logo--m {
  display: none;
  @include toTablet {
    max-width: 150px;
    display: block;
  }
}
