.header {
  border-bottom: 1px solid #eee;
  background: transparent;

  .container {
    padding: 0 300px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;

  .menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}

.logo-pc {
  max-width: 300px;
}

.menu-list {
  margin: 0 4rem;
}
