@use "../utils/variables";
@import "../utils/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  z-index: 1030;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  @include toTablet {
    padding: 0;
  }
}

.menu {
  display: none;
}

@include toTablet {
  .menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}

.menu-list:hover a {
  color: variables.$main-color;
}

.logo-pc {
  display: none;

  @include toTablet {
    display: block;
    max-width: 300px;
  }
}

.logo-m {
  display: blcok;
  max-width: 150px;

  @include toTablet {
    display: none;
  }
}

.menu-list {
  margin: 0 4rem;
}
