@use "../utils/variables";
@import "../utils/mixins";

html {
  font-size: 10px;
  color: #333;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @include toTablet {
    padding: 0px 20px;
  }

  @include toMobile {
    max-width: 574px;
  }
}

.section-title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2;

  @include toMobile {
    font-size: 2.6rem;
  }
}
